* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

:root {
  font-size: 62.5%;
  --primary-color: hsla(170, 100%, 26%, 1);
  --headline: hsla(210, 11%, 15%, 1);
  --paragraph: hsla(210, 9%, 31%, 1);
  --brand-baige: hsl(39, 100%, 97%);
  --brand-light: hsl(148, 23%, 89%);
  --nav-height: 7.2rem;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 1.6rem;
  text-align: center;
}
.wrapper {
  width: 37.5rem;
  margin-inline: auto;
  padding-left: 2.4rem;
}

header {
  padding-top: calc(4.1rem + var(--nav-height));
}

h4 {
  font-size: 1.4rem;
  color: var(--primary-color);
  margin-bottom: 1.6rem;
}

h1 {
  font-size: 3.4rem;
  color: var(--headline);
  line-height: 130%;
  margin-bottom: 2.4rem;
}

p {
  font-size: 1.8rem;
  line-height: 150%;
  font-weight: 400;
  color: var(--paragraph);
  margin-bottom: 3.2rem;
}

header button {
  background: var(--primary-color);
  margin-bottom: 6rem;
  width: 26.3rem;
  height: 5.2rem;
  border-radius: 4rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  text-transform: uppercase;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
}

.stats {
  border: 1px solid var(--brand-light);
  border-radius: 0.6rem;
  width: 32.7rem;

  margin-inline: auto;
  background-color: var(--brand-baige);

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;
  padding-block: 4rem;
}

.stat h3 {
  font-size: 4.8rem;
  color: var(--headline);
  line-height: 130%;
  margin-bottom: 0.4rem;
}

.stat p {
  margin: 0;
  color: var(--primary-color);
  line-height: 150%;
}

header img {
  width: 26.4rem;
  display: block;
  margin-inline: auto;
  object-position: 0 1rem;
}

header::before {
  content: "";
  width: 100vw;
  height: 108rem;
  background-color: var(--brand-light);
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

nav {
  /* padding: 1.6rem 2.4rem; */
  display: flex;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: var(--nav-height);
  width: 100%;
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.scroll {
  background-color: var(--primary-color);
}

nav.scroll svg:nth-child(1) path {
  fill: #fff;
}

nav.scroll button path {
  stroke: #fff;
}

/* menu expandino */

body.menu-expanded .menu {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--primary-color);
  width: 100vw;
  height: 100vh;
  padding-top: var(--nav-height);
}
body.menu-expanded nav {
  position: relative;
}
body.menu-expanded {
  overflow: hidden;
}
/* elementos ajustes */
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}
.menu .button {
  background: #fff;
  border-radius: 4rem;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  color: var(--primary-color);
  display: inline-block;
  padding: 1.6rem 3.2rem;
  margin-top: 4.8rem;
  margin-bottom: 8rem;
}

.menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  margin-top: 6rem;
  font-weight: 700;
  font-size: 2.4rem;
}

.menu ul li a {
  color: #fff;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
  /*sem motivo*/
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

/* logo e botão */

body.menu-expanded button,
body.menu-expanded .logo {
  position: relative;
  z-index: 100; /*Estava faltando colocar essa linha*/
}

body.menu-expanded .logo path {
  fill: #fff;
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

body.menu-expanded > :not(nav) {
  display: none;
}
